<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
{#        <li><a href="{{ path('main_pdt') }}">Hello World</a></li>#}
        <li><a href="{{ path('serie_list') }}">Tv Shows</a></li>
        <li><a href="{{ path('serie_add') }}">New Tv Show</a></li>
        {# <li><a href="{{ path('serie_show', {'id': 'x'}) }}">Show Show</a></li> Pas encore utilisable#}
    </ul>
</nav>